* { border-radius: 0 !important; }
/*Type*/
* { font-family: 'Rubik';}
h1 { font-weight: 700; letter-spacing: 1px; }
h2 { margin-top:50px; font-weight: 700; letter-spacing: .5px; text-align: center; }
h3 { font-weight:700; letter-spacing: .5px; }
h4 { margin-top:20px;}
h5 { margin-top:20px; margin-bottom:5px; padding-bottom:0px; }
.container > ul { margin-top:20px; padding-left:0px; }
.container > ul > li { display:inline; margin-top:30px; }
.container > ul > li > a > h4{ margin-top:25px; margin-bottom:5px; }
.container > ul > li > p { margin-top:0px; padding-top:0px; }
.container > p > span { display:block; margin-top:0px; padding-left:20px; font-size:12px; color:#777777; }
a { color: #2644AC; font-weight: 500; }
.container { height: auto; padding-top: 10vh; }
.row {max-width: 100%; margin: 0; }
/* menu bar */
.navbar { position: fixed; left: 0; top: 0; width: 100%; background-color: #54B3AD; text-align: center; z-index: 3; }
.navbar-nav { float: none; display: inline-block; }
.navbar-nav > li { display: inline-block; float: none; }
.row-container > .row { display: inline-block !important; }
/*for phones*/
.info-box { align-content: center; }
.info-box > p { text-align: center;  }

@media only screen and (max-width: 767px) {
    .container { height: auto; padding-top: 15vh; }
}

/*menu bar on hover*/
.dropdown:hover { background-color: #2644AC !important; color:#ffffff; }
.nav-link:hover { background-color: #2644AC !important; color:#ffffff; }

/*hover menu*/
.dropdown:hover .dropdown-menu { display:block; width: inherit;background-color:#2644AC !important; color:#ffffff; }
.dropdown-menu { display:none; position: absolute; border: none; box-shadow: none; background-color: #2644AC; min-width: 100%; }
.dropdown:hover .dropdown-item { font-size:small; color: #ffffff; }
.dropdown-item:hover {background-color:#3b56b4 !important; } 

/* font of links in menus at top of page */
.nav-link { font-size:large; color:#FFFFFF; }

/* font of links in menus at top of page */
a.dropdown-toggle { font-size:large; color:#FFFFFF; }

/*Buttons*/
.btn { padding: 12px; }

/* footers for all pages */
footer { margin-top: 20px; }
.footer-text { height: 6vh; text-align: right; }
.footer-text > a { font-weight: 300 !important; }
.footer-text > p { margin:0px 0px 10px; padding:0px; }
.foot-container { background-color: #FFFFFF; padding-right: 60px; padding-left: 60px; margin-right: auto; margin-left: auto; height: auto; }
img { max-height: 20pt; float:left; }

@media only screen and (max-width: 767px) {
    .foot-container { background-color: #FFFFFF; padding-top: 5vh; ; padding-right: 60px; padding-left: 60px; margin-right: auto; margin-left: auto; height: auto; }
    .footer-text { height:6vh; font-size: 12px; text-align:left; clear:left; }
    img { max-height: 18pt; margin-bottom: 2.5vh; }   
    h2 { margin-top: 75px; }
}
