body { background-color:#54B3AD;}
.row-container { background-color: #FFFFFF; padding-top: 15vh; padding-bottom: 15vh; padding-right: 60px; padding-left: 60px; margin-right: auto; margin-left: auto; height: auto; }
.about-container { background-color: #ffffff; padding-top: 15vh; padding-bottom: 15vh; padding-right: 60px; padding-left: 60px; margin-right: auto; margin-left: auto; }
.jumbotron { height: auto; background-color: inherit; width: 100%; color:#FFFFFF; clear: both; text-align: center; margin-top: 22vh; margin-bottom:38vh; }
.card > a { background-color:#2644AC; }
.report-container { background-color: #2644AC; padding-top: 15vh; padding-bottom: 15vh; padding-right: 60px; padding-left: 60px; width: 100%; border: none; }
.report-container > a { color: #FFFFFF; text-decoration: none;  }
.work-container { background-color: #e5e5e5; padding-top: 15vh; padding-bottom: 15vh; padding-right: 60px; padding-left: 60px; margin-right: auto; margin-left: auto; height: auto; }
