.container-fluid {
  max-width: 680px;
  text-align: center;
}

/* for map-glyphs, enlarges map image */
.map-large {
  font-size: 15em;
}

#yearSlider .slider-selection {
}

#yearSlider .slider-handle {
  background: #0275d8;
}

.rate {
  text-align: center;
  vertical-align: middle;
}
