.clusterize-scroll{
  max-height: 500px;
  overflow: auto;
}

td {
  white-space: nowrap;
}

.clusterize-headers {
  overflow: hidden;
}

.clusterize thead th {
  width: 110px;
  overflow:hidden;
}

.clusterize td {
  width: 110px;
}

.table {
  table-layout: fixed;
  width: 550px;
}
